## When start button is presesd , the oil motor shall start until stop button pressed
[] (start_button_is_presesd -> (oil_motorstart W stop_button_pressed)

## When start button is presesd , the 10 second timer shall start
[] (start_button_is_presesd -> 10_second_timerstart)

## When 10 sec timer expires , the main motor shall start until stop button pressed
[] (10_sec_timer_expires -> (main_motorstart W stop_button_pressed)

## When 10 sec timer expires , the 5 sec timer shall start
[] (10_sec_timer_expires -> 5_sec_timerstart)

## When 5 sec timer expires , the auxilary motor shall start until stop button pressed
[] (5_sec_timer_expires -> (auxilary_motorstart W stop_button_pressed)


INPUT start_button_is_presesd, 10_sec_timer_expires, 5_sec_timer_expires, stop_button_pressed
OUTPUT main_motorstart, 5_sec_timerstart, auxilary_motorstart, 10_second_timerstart, oil_motorstart
