## <!TextGen not found for 'org.iets3.ears.gxw.structure.ComplexEventDrivenReq'!>## When liquid level 1 is reached , the valve 0 shall close
[] (liquid_level_1_is_reached -> null)

## <!TextGen not found for 'org.iets3.ears.gxw.structure.ComplexEventDrivenUntil'!>## When liquid level 2 is reached , the valve 1 shall close
[] (liquid_level_2_is_reached -> null)

## <!TextGen not found for 'org.iets3.ears.gxw.structure.NormalRisingEdgeReq'!>## When liquid level 2 is reached , the stirring motor shall start until 60 second timer expires or emergency button is pressed
[] (!liquid_level_2_is_reached && X(liquid_level_2_is_reached)) -> X(null W (60_second_timer_expires || emergency_button_is_pressed))

## <!TextGen not found for 'org.iets3.ears.gxw.structure.NormalRisingEdgeReq'!>## When 60 second timer expires , the valve 2 shall open until 120 sec timer expires or emergency button is pressed
[] (!60_second_timer_expires && X(60_second_timer_expires)) -> X(null W (120_sec_timer_expires || emergency_button_is_pressed))

## When emergency button is pressed , the valve 0 shall close
[] (emergency_button_is_pressed -> null)

## When emergency button is pressed , the valve 1 shall close
[] (emergency_button_is_pressed -> null)

## When emergency button is pressed , the valve 2 shall close
[] (emergency_button_is_pressed -> null)

## When emergency button is pressed , the stirring motor shall stop
[] (emergency_button_is_pressed -> null)


INPUT 60_second_timer_expires, 120_sec_timer_expires, start_button_is_pressed, liquid_level_1_is_reached, liquid_level_2_is_reached, emergency_button_is_pressed
OUTPUT valve_2close, valve_1open, stirring_motorstop, stirring_motorstart, valve_0open, valve_0close, valve_2open, valve_1close, 60_sec_timerstart, 120_sec_timerstart
