## When closing limit reached , the door shall open until closing limit reached
[] (!closing_limit_reached && X(closing_limit_reached)) -> X(dooropen W closing_limit_reached)

## When closing limit reached , the counter shall start countdown
[] (closing_limit_reached && !closing_limit_reached) -> X (counterstart_countdown)

## When timer expires , the door shall close until object detected or opening limit reached
[] (!timer_expires && X(timer_expires)) -> X(doorclose W (object_detected || opening_limit_reached))

## When closing limit reached , the door shall not open
[] (closing_limit_reached -> !dooropen)

## When object detected , the door shall not close
[] (object_detected && !object_detected) -> X (!doorclose)


INPUT object_detected, opening_limit_reached, closing_limit_reached, timer_expires
OUTPUT dooropen, doorclose, counterstart_countdown
